* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(images/bg-main-desktop.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 35%;
  font-family: "Space Grotesk", sans-serif;
  font-size: 18px;
}

.grids {
  display: flex;
  height: 95vh;
  place-items: center;
  justify-content: center;
  gap: 10vw;
}

.cards {
  /* width: 600px; */
  display: grid;
  grid-template-areas: "card1 card1 card1 card1 ." ". card2 card2 card2 card2";
  color: hsl(0, 0%, 100%);
  gap: 10%;
}

.card1 {
  grid-area: card1;
  position: relative;
}

.logo {
  position: absolute;
  top: 10%;
  left: 5%;
}

.card1-items {
  width: 100%;
  position: absolute;
  bottom: 5%;
  padding: 5%;
}

.card-name {
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
}

.card2 {
  grid-area: card2;
  position: relative;
  align-self: flex-end;
}

.card2-items {
  position: absolute;
  top: 45%;
  right: 15%;
}

.user-data {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-self: stretch;
  width: 20vw;
}

.inputs {
  width: 100%;
  height: 2.5rem;
  border: solid 1px hsl(278, 94%, 30%);
  border-radius: 0.5rem;
  /* margin: 5px 0 30px 0; */
  font-size: 18px;
  padding-left: 10px;
}

.inputs:active {
  border-color: hsl(249, 99%, 64%);
}

.inputs-mini {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 20px;
}

.date {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.dateform {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.button {
  width: 100%;
  height: 2.5rem;
  background-color: hsl(278, 68%, 11%);
  border: solid 1px hsl(278, 68%, 11%);
  border-radius: 0.5rem;
  font-size: 16px;
  color: hsl(0, 0%, 100%);
}

button:hover {
  background-color: hsl(270, 3%, 87%);
  color: hsl(278, 68%, 11%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
  color: hsl(0, 0%, 100%);
}

.thanks {
  display: none;
  justify-self: stretch;
  width: 20vw;
}

.error-num,
.error-date,
.error-cvc {
  display: none;
  color: hsl(0, 100%, 66%);
  font-size: 14px;
}
