* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(images/bg-main-desktop.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 35%;
  font-family: "Space Grotesk", sans-serif;
  font-size: 18px;
}

.grids {
  display: flex;
  height: 95vh;
  place-items: center;
  justify-content: center;
  gap: 10vw;
}

.cards {
  /* direction: ; */
  width: 30vw;
  color: rgb(255, 255, 255);
  justify-self: center;
}

.userData {
  justify-self: stretch;
  width: 20vw;
}

.inputs {
  width: 100%;
  height: 2.5rem;
  border: solid 1px #52327b;
  border-radius: 0.5rem;
  margin: 5px 0 20px 0;
  font-size: 18px;
  padding-left: 10px;
}

.inputs-mini {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 20px;
}

.date {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.title {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.button {
  width: 100%;
  height: 2.5rem;
  background-color: #220930;
  border: solid 1px #220930;
  border-radius: 0.5rem;
  font-size: 16px;
  color: rgb(255, 255, 255);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.thanks {
  display: none;
}
