* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
  font-size: 14px;
}
.background {
  position: absolute;
  width: 30%;
  height: 100%;
}

.grids {
  display: flex;
  height: 95vh;
  place-items: center;
  justify-content: center;
}

.cards {
  display: grid;
  color: hsl(0, 0%, 100%);
  text-transform: uppercase;
}

.img-card {
  width: 100%;
}

.card1 {
  grid-area: card1;
  position: relative;
  z-index: 1;
}

.logo {
  position: absolute;
  top: 10%;
  left: 5%;
}

.card1-items {
  width: 100%;
  position: absolute;
  bottom: 5%;
  padding: 5%;
}

.card-name {
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
}

.card2 {
  grid-area: card2;
  position: relative;
  align-self: flex-end;
}

.img-cvc {
  position: absolute;
  top: 45%;
  right: 15%;
}

.user-data {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-self: stretch;
  width: 20%;
  text-transform: uppercase;
}

.inputs {
  width: 100%;
  height: 2.5rem;
  border: solid 1px hsl(278, 94%, 30%);
  border-radius: 0.5rem;
  margin: 10px 0 5px 0;
  font-size: 18px;
  padding-left: 10px;
}

.inputs:active {
  border-color: hsl(249, 99%, 64%);
}

.inputs-mini {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 20px;
}

.date {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.dateform {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.button {
  width: 100%;
  height: 2.5rem;
  background-color: hsl(278, 68%, 11%);
  border: solid 1px hsl(278, 68%, 11%);
  border-radius: 0.5rem;
  font-size: 16px;
  color: hsl(0, 0%, 100%);
  margin-top: 20px;
}

button:hover {
  background-color: hsl(270, 3%, 87%);
  color: hsl(278, 68%, 11%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.thanks {
  display: none;
  justify-self: stretch;
  width: 20vw;
  flex-direction: column;
  place-items: center;
  justify-content: center;
  gap: 20px;
}

.thanks h2 {
  text-transform: uppercase;
}

.error-num,
.error-date,
.error-cvc {
  display: none;
  color: hsl(0, 100%, 66%);
  font-size: 14px;
  text-transform: lowercase;
}

@media (width >= 375px) {
  .background {
    width: 100%;
    height: 30%;
  }
  .grids {
    flex-direction: column;
    height: 90vh;
  }

  .user-data {
    width: 90%;
  }

  .cards {
    grid-template-areas: ". card2 card2 card2 card2 " " card1 card1 card1 card1 .";
    padding: 0 5%;
    height: auto;
  }

  /* .card2 {
    top: 30%;
  } */

  .img-number {
    font-size: 20px;
  }
}

@media (width >= 1440px) {
  .background {
    width: 30%;
    height: 100%;
  }
  .grids {
    flex-direction: row;
    gap: 10vw;
  }

  .user-data {
    width: 20%;
  }

  .cards {
    grid-template-areas: "card1 card1 card1 card1 ." ". card2 card2 card2 card2";
    padding: 0;
    gap: 10%;
    height: auto;
  }

  .img-number {
    font-size: 20px;
  }

  .card2 {
    top: 0;
  }
}
